body
{
margin : 0;
padding: 0;
background-color: rgb(233, 188, 252);
}

h1
{
background-color: rgb(204, 50, 242);
color:rgb(0, 0, 0);
margin: 0;
padding: 20px;
text-align: center;

}

 .conteudo
 {
background-color: rgb(222, 157, 253);
width: 700px;
margin: 20px auto;
padding: 20px;
font-size: 20px;
text-align: justify;
line-height: 1.5;
border-radius: 10px;
 }

 .conteudo a
 {
    color: rgb(77, 6, 96);
    text-decoration: none;
 }
 
 input[type=text]
 {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: 20px;
 }

 input[type=button]
 {
    width: 200px;
    padding: 5px;
    font-size: 20px;
 }